<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfseCOz17j4arUelYZEVrHpOnOljozqXM</string>
	<key>GCM_SENDER_ID</key>
	<string>838094767843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.goyal.rachit.SwiftUIFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauth-e7ff5</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauth-e7ff5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838094767843:ios:865f3b2651ec1aa3a9e7d6</string>
</dict>
</plist>